@{
    ViewData["Title"] = "Home Page";
}
<style>
     body{
            background-image: url('../images/uni.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            background-position:center;
            

    }
    body h1{
        text-align:center;
        color:black;
        font-size: 2.1rem;
        line-height: 1.4;
        letter-spacing: 0.5rem;
        margin-top: 50px;

    }
    body p1{
        text-align:center;
        color:black;
        line-height: 1.4;
        letter-spacing: 0.25rem;
    }
    




    
</style>



<body>
<div class="flex-wrap">
    <>
@*       <img src="~/Images/university.png" />
@*        <link rel="stylesheet" href="~/css/image.css" />
*@        
    <h1 class="display-4"><b>Admin Portal</b></h1>
    <p1><center>Welcome to your Official Portal for your College life</center></p1>
    <br />
    <p1><b><center>Happy Studying</center></b></p1>

   
    <div class="slider-frame">
        <div class="slide-images">
             <div class="img-container">
                 <img src="https://www.rose.edu/media/9636/college-students-walking-on-campus.png" />
             </div>
             <div class="img-container">
                 <img src="https://www.iii.org/sites/default/files/p_collegecampus_522307288.jpg" />
             </div>
             <div class="img-container">
                 <img src="https://www.collegiateparent.com/wp-content/uploads/2016/09/ED-ONLY-Jannis-Tobias-Werner-Shutterstock.com_.jpg" />
             </div>
             <div class="img-container">
                 <img src=" https://s35691.pcdn.co/wp-content/uploads/2019/06/six-things-that-make-college-teachers-successful-070519.jpg" />
             </div>
        </div>
    </div>
    
    

</div>
</body>
